<!DOCTYPE html>
<html lang="en">
<meta http-equiv="refresh" content="5">
<!-- <script src="../pureknob/pureknob.js"></script> -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>19102233</title>

    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <h1>Monitoring</h1>
    <!-- <div id="demo"></div> -->
    <p>Perbandingan MQTT dan HTTP</p>
    <!-- <p>
        <a href="/">Home</a>
        •
        <a href="/subs">Contact</a>
        •
        <a href="/about">About</a>
    </p> -->

    <h1>MQTT</h1>
    <h4>Suhu = <%= a1 %></h4><br>
    <h4>Kelembaban = <%= a2 %></h4><br>
    <hr>
    <h1>HTTP</h1><br>
    <h4>Suhu = <%= a3 %></h4><br>
    <h4>Kelembaban = <%= a4 %></h4><br>
    <hr>

</body>
<!-- <script>
    var myKnob = pureknob.createKnob(300, 300);
    myKnob.setValue(70);
    myKnob.setPeaks([80]);
    var node = knob.node();
    var elem = document.getElementById('demo');
    elem.appendChild(node);
    var listener = function(knob, value) {
        console.log(value);
    };
    knob.addListener(listener);
</script> -->
</html>
