<!DOCTYPE html>
<head>
	<link href=
"https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
		rel="stylesheet">
</head>

<body class="bg-gray-900 justify-center items-center font-sans">
  <div class="grid grid-cols-3 gap-4 p-5">
    <div class="bg-gray-900 text-green-500 text-center p-4 rounded-lg col-span-3 text-4xl font-bold">
      sistem monitoring tanaman cabai merah
    </div>
    <div class="text-2xl font-bold bg-gray-800 text-green-500 text-center p-4 rounded-lg col-span-2">connection with mqtt or http</div>
    <div class="shadow-lg bg-gray-800 text-green-500 self-center text-center rounded-lg row-span-2">
      <div class="grid grid-cols-2">
        <div class="text-2xl font-bold col-span-2 bg-gray-800 rounded-lg pt-2">temp and humidity</div>
        <div class="col-span-1 flex justify-center p-4">
          <svg class="h-24 w-24 text-green-500"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M10 13.5a4 4 0 1 0 4 0v-8.5a2 2 0 0 0 -4 0v8.5" />  <line x1="10" y1="9" x2="14" y2="9" /></svg>
        </div>
        <div class="col-span-1 self-center text-5xl">value</div>
        <div class="col-span-1 flex justify-center">
          <svg class="h-24 w-24 text-green-500"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <circle cx="12" cy="12" r="4" />  <path d="M3 12h1M12 3v1M20 12h1M12 20v1M5.6 5.6l.7 .7M18.4 5.6l-.7 .7M17.7 17.7l.7 .7M6.3 17.7l-.7 .7" /></svg>
        </div>
        <div class="col-span-1 self-center text-5xl">value</div>
        <div class="col-span-2 pt-4 pb-2">a second</div>
      </div>
    </div>
    <div class="shadow-lg bg-gray-800 text-green-500 self-center text-center rounded-lg">
      <div class="grid grid-cols-2">
        <div class="text-2xl font-bold bg-gray-800 col-span-2 rounded-lg pt-2">moisture</div>
        <div class="col-span-1 flex justify-center p-8">
          <svg class="h-24 w-24 text-green-500"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <path d="M10 13.5a4 4 0 1 0 4 0v-8.5a2 2 0 0 0 -4 0v8.5" />  <line x1="10" y1="9" x2="14" y2="9" /></svg>
        </div>
        <div class="col-span-1 self-center text-5xl">value</div>
        <div class="col-span-2 pb-2">a second</div>
      </div>
    </div>
    <div class="shadow-lg bg-gray-800 text-green-500 self-center text-center rounded-lg">
      <div class="grid grid-cols-2">
        <div class="text-2xl font-bold bg-gray-800 col-span-2 rounded-lg pt-2">sun</div>
        <div class="col-span-1 flex justify-center p-8">
          <svg class="h-24 w-24 text-green-500"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <circle cx="12" cy="12" r="4" />  <path d="M3 12h1M12 3v1M20 12h1M12 20v1M5.6 5.6l.7 .7M18.4 5.6l-.7 .7M17.7 17.7l.7 .7M6.3 17.7l-.7 .7" /></svg>
        </div>
        <div class="col-span-1 self-center text-5xl">value</div>
        <div class="col-span-2 pb-2">a second</div>
      </div>
    </div>
  </div>
</body>

</html>
